.site-btn {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    background-color: getColor(4);
    color: $lightColor;
    padding: 14px 18px;
    text-decoration: none;
    border: 1px solid $lightColor;
    letter-spacing: -0.16px;
    border-radius: 2px;
    transition: background-color .5s $easeOutExpo;

    &:hover {
        background-color: getColor(5);
    }
}

.site-btn.sm {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.14px;
    padding: 10px 16px;
    line-height: 150%;
}

.slide-next-button,
.slide-prev-button,
.owl-carousel .owl-nav button.slide-next-button,
.owl-carousel .owl-nav button.slide-prev-button {
    -webkit-appearance: none;
    appearance: none;
    padding: 0;
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    width: 56px;
    height: 56px;
    border: 2px solid getColor(5);
    border-radius: 2px;
    cursor: pointer;
    transition: background-color .4s $easeOutExpo;
    
    &.sm {
        width: 32px;
        height: 32px;

        i {
            font-size: 14px;
        }
    }

    &.disabled {
        pointer-events: none;
        opacity: 0.8;
    }

    &:hover {
        background-color: getColor(8);
    }

    i {
        color: getColor(7);
        font-size: 16px;
        transition: color .4s $easeOutExpo;
    }

    &:hover i {
        color: getColor(5);
    }
}