.page-footer{
    background-color: getColor(8);
    color: getColor(3);
    border-top: 1px solid getColor(5);
    padding: 24px 56px;

    @media (max-width: $bp_desktopSmall) {
        font-size: 14px;
    }

    @media (max-width: $bp_mobileMenuShift) {
        font-size: 16px;
        padding: 24px 32px;
    }

    @media (max-width: $bp_mobileLandscape) {
        padding: 34px 16px;
    }

    .pf-container {
        max-width: 1330px;
        margin: 0 auto;
    }

        .pf-row {
            display: flex;
            flex-wrap: wrap;
        }

            .pf-col {
                width: 27.06%;

                @media (max-width: $bp_mobileMenuShift) {
                    width: 50%;
                }

                @media (max-width: $bp_mobileLandscape) {
                    width: 100%;
                    text-align: center;
                }
            }

            .pf-smi {
                width: 18.19%;
                order: 4;

                @media (max-width: $bp_mobileMenuShift) {
                    margin-top: 60px;
                    padding-left: 20px;
                }

                @media (max-width: $bp_mobileLandscape) {
                    display: none;
                }
            }

                .pf-title {
                    font-weight: 600;
                    line-height: 140%;
                    margin-bottom: 25px;

                    @media (max-width: $bp_mobileMenuShift) {
                        margin-bottom: 25px;
                    }

                    @media (max-width: $bp_mobileLandscape) {
                        margin-bottom: 20px;
                    }
                }

                ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                }

                ul li a {
                    text-decoration: none;

                    a {
                        transition: color .4s $easeOutExpo;
                
                        &:hover {
                            color: getColor(2);
                        }
                    }
                }

                .site-smi-footer {
                    a {
                        font-size: 28px;
                    }
                }

            .pf-contact {
                order: 1;

                li {
                    margin-bottom: 7px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }

                a {
                    
                    transition: color .4s $easeOutExpo;
                    
                    &:hover {
                        color: getColor(2);
                    }
                }
            }

                .pf-btn {
                    text-decoration: none;
                    font-weight: 700;
                    display: inline-flex;
                    align-items: center;
                    margin-top: 43px;

                    @media (max-width: $bp_mobileMenuShift) {
                        margin-left: 15px;
                    }

                    @media (max-width: $bp_mobileLandscape) {
                        margin-left: 0;
                    }
                
                }

                    .pf-btn-arrow {
                        margin-left: 23px;

                        @media (min-width: 992px) {
                            border: none;
                        }
                    }

            .pf-menu {
                order: 3;

                @media (max-width: $bp_mobileMenuShift) {
                    order: 2;
                    padding-left: 20px;
                }

                @media (max-width: $bp_mobileLandscape) {
                    order: 3;
                    padding-left: 0;
                    margin-top: 40px;
                }
            }

                .pf-nav {
                    li {
                        display: block;
                        line-height: 140%;
                        margin-bottom: 22px;

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }

                     a {
                        text-decoration: none;
                        font-weight: 600;
                        transition: color .4s $easeOutExpo;

                        &:hover {
                            color: getColor(2);
                        }
                     }
                }

            .pf-address {
                order: 2;

                @media (max-width: $bp_mobileMenuShift) {
                    order: 3;
                    margin-top: 60px;
                }

                @media (max-width: $bp_mobileLandscape) {
                    order: 2;
                    margin-top: 30px;
                }

                a {
                    text-decoration: none;
                    line-height: 140%;
                    color: #161C1C;
                    transition: color .4s $easeOutExpo;

                    @media (max-width: $bp_mobileMenuShift) {
                        color: inherit;
                    }

                    &:hover {
                        color: getColor(2);
                    }
                }
            }

    .pf-lower {
        margin-top: 40px;

        @media (max-width: $bp_mobileMenuShift) {
            margin-top: 60px;
        }
    }

        .pf-logo,
        .pf-copyright {
            display: inline-block;
            vertical-align: middle;

            @media (max-width: $bp_mobileLandscape) {
                display: block;
            }
        }

        .pf-logo {
            margin-right: 30px;

            @media (max-width: $bp_mobileLandscape) {
                margin-bottom: 20px;
                margin-right: 0;
                text-align: center;
            }

            img {
                max-width: 100%;
            }

            .pf-logo-default {
                @media (max-width: $bp_mobileLandscape) {
                   display: none;
                }
            }

            .pf-logo-secondary {
                display: none;

                @media (max-width: $bp_mobileLandscape) {
                    display: inline-block;
                }
            }
        }

        .pf-copyright {

            ul {

                @media (max-width: $bp_mobileLandscape) {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                }

            }

                li {
                    display: inline-block;
                    vertical-align: middle;
                    font-size: 12px;
                    margin-right: 26px;

                    @media (max-width: $bp_mobileLandscape) {
                        color: getColor(10);
                        margin-right: 18px;

                        &:first-child {
                            order: 3;
                            width: 100%;
                            margin-right: 0 !important;
                            text-align: center;
                            margin-top: 30px;
                        }
                    }

                    &:last-child {
                        margin-right: 0;
                    }
                }

                a {
                    transition: color .4s $easeOutExpo;

                    &:hover {
                        color: getColor(2);
                    }
                }
        }
}