#page-header{
    padding: 30px $gutter;
    border-bottom: 1px solid getColor(6);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $lightColor;
    z-index: 200;

    @media screen and (max-width: $bp_mobileMenuShift) {
        padding: 30px $gutterMedium;
    }

    @media screen and (max-width: $bp_mobileLandscape) {
        padding: 11px 20px 7px;
    }

    .ph-content {
        max-width: 1370px;
        margin: 0 auto;
    }

        .ph-top {
            text-align: right;
            margin-bottom: 13px;
        }

        .ph-link {
            font-size: 14px;
            display: inline-block;
            text-decoration: none;
            font-weight: 400;
            margin-left: 30px;
            transition: color .4s $easeOutExpo;

            &:hover {
                color: getColor(4);
            }
        }

        .ph-row {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

            .ph-left {

            }

                .ph-logo {
                    img {
                        max-width: 100%;
                        height: auto;

                        @media (max-width: $bp_mobileMenuShift) {
                            max-width: 107px;
                        }

                        @media (max-width:  $bp_mobileLandscape) {
                            max-width: 72px;
                        }
                    }
                }

            .ph-right {

            }

                .ph-nav-holder {
                    display: inline-block;
                    vertical-align: middle;
                }

                    .ph-nav {
                        list-style: none;
                        padding: 0;
                        
                        & > li {
                            display: inline-block;
                            vertical-align: middle;
                            font-weight: 500;
                            margin-right: 30px;

                            &:last-child {
                                margin-right: 0;
                            }
                        }

                            a {
                                text-decoration: none;
                                color: getColor(3);
                            }
                    }

                .ph-btn {
                    vertical-align: middle;
                    margin-left: 53px;
                }

                .burger-menu-btn {
                    display: none;

                    @media screen and (max-width: $bp_mobileLandscape) {
                        display: inline-block;
                    }
                }

}
