h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    color: inherit;
}

h1{
    letter-spacing: 0.56px;
    line-height: 120%;
    font-size: 56px;

    @media (max-width: $bp_mobileLandscape) {
       font-size: 40px;
       letter-spacing: 0.4px;
       font-weight: 600;
    }
}
h2{
    letter-spacing: 0.48px;
    font-size: 48px;
    line-height: 120%;
}
h3{
    font-size: 40px;
    letter-spacing: 0.4px;
    line-height: 120%;
    font-weight: 500;

    @media (max-width: $bp_mobileLandscape) {
        font-size: 32px;
        font-weight: 600;
        line-height: 130%;
    }
}
h4 {
   
}
h5{
   
}

h6 {
    font-size: 20px;
    line-height: 140%
}

blockquote{
    @include typography(getFont(1), 24px, 1.15em, 400, inherit);
    font-style: italic;
    letter-spacing: 0.5px;
    max-width: $containerMaxWidth;
    box-sizing: border-box;
    margin: 0 auto 20px;

    @media(max-width: $bp_mobile){
        font-size: 18px;
    }
}

ul, ol, li, p{
 
}

ul, ol{
   
}

ul, ol, li{
   
}

a{
    @include typography(inherit, inherit, inherit, inherit, inherit);
}

b, strong{
    font-weight: 700;
}

em{
    font-style: italic;
}

img, iframe, svg, video{
    max-width: 100%;
}