.block-logo-text-list {
    padding: 124px 0;

    @media (max-width: $bp_mobileMenuShift) {
        padding: 93px 0;
    }
    
    &__list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 -15px;

        @media (max-width: $bp_mobileLandscape) {
            display: block;
            margin: 0;
        }
    }

        &__item {
            width: calc(100% / 3);
            padding: 28px 15px;
            text-align: center;

            @media (max-width: $bp_mobileMenuShift) {
                width: 50%;
            }

            @media (max-width: $bp_mobileLandscape) {
                width: 100%;
                max-width: 311px;
                margin: 0 auto 32px;
                padding: 0;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

            &__item-logo {
                margin-bottom: 15px;

                img {
                    max-width: 100%;
                    width: auto;
                    height: auto;
                }
            }

            &__item-content {
                font-size: 18px;
                line-height: 150%;
                letter-spacing: -0.18px;
                color: getColor(10);
                font-weight: 500;
            }

}

.home-logo-text-list {
    padding: 232px 0 48px;

    @media (min-width: 992px) {
        padding: 210px 0 62px;
    }

    @media (min-width: 768px) {
        padding: 207px 0 62px;
    }

}